
@mixin centralize($flex-flow) {
    display: flex;
    flex-flow: $flex-flow;
    justify-content: center;
    align-items: center;
}

@mixin absoluteFullScreen() {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}